.bottom {vertical-align: bottom;}

.middle {vertical-align:middle;}

.top {vertical-align: top;}

/* all paragraphs styling begins */
p {
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    font-size:medium;
}
/* all paragraphs styling ends */

/* heading 1 styling begins */
h1 {color:rgb(255, 70, 152);
    font-family:cursive, Times, serif;
    font-weight: 700;
}
/* heading 1 styling ends */

/*heading 1 id styling begins */
#biointro {color:rgb(255, 70, 172);
}
/*heading 1 id styling ends */

/* titles styling begins*/
.cvtitle {font-size: small;
    font-family:'Lucida Console', Times, serif;
    font-style:italic;
    font-variant:small-caps;
    font-weight: lighter;
    color:rgb(255, 70, 172)
}
/* tiles styling ends*/



/*Jasmine Greene Heading styling */
.cvjazzindex{font-size:x-large; color:rgb(255, 70, 152); font-family:cursive, Arial, serif;}

.cvunderlinejazz {text-decoration: underline;}


.cvnavbar {font-family: cursive, arial, serif; color:rgb(255, 70, 152);}

p.cvlinks {font-family:'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 70, 152);
}

h3.cvlinks {color:rgb(255, 70, 152);}

h1.cvlinks {color:rgb(255, 70, 152);}

h1.cvhead {font-size:x-large; text-decoration:underline; color:rgb(72, 145, 255); font-family: cursive, 'Courier New', Courier, monospace;}

h2.cvhead {font-size:x-large; text-decoration:underline; color:rgb(72, 145, 255); font-family: cursive, 'Courier New', Courier, monospace;}

h3.cvsmallhead {font-size: medium; text-decoration:underline; color:rgb(72, 145, 255); font-family:Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;}

h4.cvsmallhead {font-size: medium; color:rgb(0, 0, 0); font-family:Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;}

#edu.cvsmallhead em{color:black;}

.intable {font-family:Georgia, 'Times New Roman', Times, serif, Arial, sans-serif; font-size:medium;}